* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {
    padding: 0;
    background: white;
    font-weight: 300;

}

.navbar {
    display: flex;
    height: 110px;
    justify-content: space-between;
    text-decoration: none solid;
    align-items: center;
    padding: 60px;
    gap: 50px;



}

.logo {
    display: flex;
    height: 110px;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    cursor: pointer;
}

.logo a {
    color: #000;
    margin: 30px;
    text-decoration: none;
    font-size: 20px;

}
.nav_list_item i{
    position: relative;
    right: 30px;
    
}

.navbar ul {
    display: flex;
    list-style-type: none;
   
    gap: 60px;
    margin: 30px;
    cursor: pointer;

}

.navbar li {
    font-size: 20px;
    padding: 3px;
}

.shopCLICK {
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    opacity: 0;

}

.shopCLICK:hover {
    opacity: 1;
}

.shopCLICK p {
    padding: 5px 10px;

}

.shopping-cart {
    border: 1px solid #000;
    border-radius: 7px;
    padding: 10px;
    margin: 25px;
    width: 100px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;

}


.shopping-cart:hover{
    background-color: #000;
    color:white
}





.carticon {
    background-size: cover;
    width: 50px;
    height: auto;
}

.cart {
    width: 50px;
    height: auto;
    line-height: avto;

}

.cartcount {

    background-color: #000;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;

}



#firstsection {
    background-color: #212529;
    height: 250px;
    width: auto;
    margin: 0;

}

.firstsection {
    color: white;


}

.firstsection_text {
    margin: 1px;
    padding: 60px;
    text-align: center;

}

.firstsection_text h1 {
    font-weight: bolder;
    font-size: 50px;
    padding: 20px;
    height: 40px;
    margin: 3px;
}

.firstsection_text p {
    font-weight: bolder;
    color: rgb(105, 105, 103);
    font-size: 17px;
    margin: 30px;
    padding: 16px;

}
#cards{
    background-color: #FFFFFF;
    
    width: auto;
    
}
.cards{width: 100%;
    height: 100%;
    margin:10px;
    top:10px;
    display: flex;
    flex-wrap: wrap;

  
  }
   
.card{
    border: 1px solid;
    border-radius: 4px;
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction:column;
    gap:10px;
    
  
}
.cardHead{
    width: 100%;
    position: relative;
}
.card img{
    width: 100%;
   

}

.cardBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:50px;
}   
   
.cardtext{
    display:flex;
    flex-direction: column;
    gap:5px;
}


button {
   border-radius:5px;
   padding: 10px;
   margin:18px 70px;
   cursor: pointer;

  }

 button:hover{
    background-color: #000;
    color:white
  }
.starcard{
    border: 1px solid;
    border-radius: 4px;
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction:column;
    gap:10px;
     
}

 
 .starcard img{
    width: 100%;
} 
 


.sale{
    display:inline-flex;
    border-radius:3px;
    background-color: black;
    color:white;
    position:absolute;
    right:10px;
    top:15px;
    padding: 5px;
}
.starcard button{
        border-radius:5px;
        padding: 10px;
        margin:0 70px;
        cursor: pointer;
     
       
}
 
   

.star{color:#FFC107;
}

#footer {
    box-sizing: border-box;
    background-color: #212529;
    width: auto;
    height: 100px;

}

.footer {
    background-color: #212529;
    align-items: center;
    text-align: center;
    color: #FFFFF2;

}

.footertext h3 {
    display: inline-block;
    text-align: center;
    padding: 37px;

} 
